<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kongpf8848.androidworld">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".TKApplication"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.JSUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.JSTabActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ImageScaleTypeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.GlideHolderActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.GaussBlurActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>